
<div ng-controller="RegController as vm" class="form container text-center">
    <h1 class="head">Admin registration</h1>
<form ng-submit="vm.submit()" name="formData" ng-model="vm.formData" >
<div class="form-group col-xs-6 col-xs-offset-3">
    <input type="text"  name="name" ng-model="vm.formData.name" placeholder="Full name" required>
</div>
    <div class="form-group col-xs-6 col-xs-offset-3">
    <input type="email"  name="email" ng-model="vm.formData.email" placeholder="Email" required>
</div>
<div class="form-group col-xs-6 col-xs-offset-3">
    <input type="password"  name="password" ng-model="vm.formData.password" placeholder="Password" required>
</div>
<div class="form-group col-xs-6 col-xs-offset-3">
    <input type="password" name="password_verif" ng-model="vm.formData.password_verif" placeholder="Password verification" required>
</div>

    <div class="control-group col-xs-6 col-xs-offset-3 text-danger" ng-show="vm.error" >
        <span class="help-inline">{{vm.error}}</span>
    </div>

<div class="form-group col-xs-4 col-xs-offset-4">
<input class="submit" value="Register" type="submit">    
</div> 
</form>
<!-- end sections -->
    </div>

<footer class="text-center" ng-include="'views/partials/footer.html'"></footer>